[submodule "thirdparty/quickjs"]
	path = thirdparty/quickjs
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib.git
	branch = master
[submodule "thirdparty/raygui"]
	path = thirdparty/raygui
	url = https://github.com/raysan5/raygui.git
	branch = master
[submodule "thirdparty/lightmapper"]
	path = thirdparty/lightmapper
	url = https://github.com/ands/lightmapper.git
[submodule "thirdparty/mimalloc"]
	path = thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	branch = dev
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = https://github.com/erincatto/box2d.git
